
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary: #FE2C55;
    --black: #000;
    --white: white;
    --text-color: #333;
    --tick-verified: #20D5EC;

    --font-family: "TiktokFont", sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;


}

html{
    font-size: 62.5%;
}

// Fonts

@font-face {
    font-family: 'TiktokFont';
    src: url('../../assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('../../assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('../../assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('../../assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

/* Scrollbar Css */

html *::-webkit-scrollbar{
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgb(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track{
    border-radius: 4px;
     background-color: rgb(0, 0, 0, 0);
}

button, input, [tabindex]{
    caret-color: var(--primary);
    border: none;
    outline: none;
}
a{
    color: var(--text-color);
    text-decoration: none;
}

// Custome Tippy tooltip
body {
    .tippy-box{
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgb(84, 84, 84, .92);
    }

    .tippy-arrow{
        color: rgb(84, 84, 84, .92);
    }

    .tippy-content{
        padding: 8px 9px;
    }

}