.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner{
    height: 100%;
    width: var(--default-layout-width);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}



// actions
.action{
    display: flex;
    align-items: center;
    
    .action-btn{
        position: relative;
        background-color: transparent;
        font-size: 2.2rem;
        color: rgb(22, 24, 35);
        padding: 4px 12px;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;

        .badge{
            position: absolute;
            top: 0px;
            right: 5px;
            padding: 0px 6px;
            height: 2rem;
            line-height: 2rem;
            border-radius: 10px;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--white);
            font-family: 'ProximaNova', sans-serif;
            background-color: var(--primary);
        }
    }

    .action-btn:nth-of-type(3){
        margin-top: 4.5px;
    }

    .user-avatar{
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 12px;
        cursor: pointer;
    }
}


.more-btn{
    font-size: 2rem;
    margin-left: 26px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
